
.me-2, btn, btn-primary {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  transition: transform 0.6s ease-in-out;
}

 .me-2:hover {
  background-color: rgba(0,139,139);
 }

.btn-primary:focus {
  color: aliceblue;
  background-color:transparent;

}

.btn-check:focus+{
  border-color:transparent;
}

.btn-primary{
  border-color:transparent;
}
.btn:focus {
  box-shadow: 0 0 0 0;
}

.btn:hover {
  background-color: rgba(0,139,139);
}
